:root{
    --bg-primary-color:#d35649;
    --bg-primary-gray: #98a5a5;
    --bg-primary-blue: #509bd7;
    --bg-gray-footer: #1f1f1f;
    --bg-gray-footer-btn: #444;
    --bg-primary-purple: #575a89;
    --bg-light-gray: #eee;
    
}
.body{
    margin: 0;
    padding: 0;
}

.primary-color{
    color: var(--bg-primary-color);
}
.text-primary-color{
    color: var(--bg-primary-color);
}
.bg-primary-color{
    background-color: var(--bg-primary-color);
}
.border-primary-color{
    border-color: var(--bg-primary-color);
}
.primary-gray{
    color:var(--bg-primary-gray);
}
.text-primary-gray{
    color: var(--bg-primary-gray);
}
.bg-primary-gray{
    background-color:var(--bg-primary-gray);
}
.primary-blue{
    color:var(--bg-primary-blue)
}
.bg-primary-blue{
    background-color: var(--bg-primary-blue);
}
.border-primary-blue{
    border-color: var(--bg-primary-blue);
}
.gray-footer{
    color:var(--bg-gray-footer)
}
.gray-footer-btn{
    color:var(--bg-gray-footer-btn)
}
.bg-gray-footer-btn{
    background-color: var(--bg-gray-footer-btn);
}

.primary-purple{
    color:var(--bg-primary-purple)
}
.light-gray{
    color:var(--bg-light-gray)
}
.bg-light-gray{
    background-color: var(--bg-light-gray);
}
.text-light-gray{
    color:var(--bg-light-gray)
}
p{
    margin:0;
}
/* header */
header{
    background-color: var(--bg-primary-color);
}
header div embed{
    width: 70px;
}
    /*hover header*/
.nav li ul li:hover{
    filter: invert(73%) sepia(6%) saturate(389%) hue-rotate(131deg) brightness(89%) contrast(85%);
}

/*About page style*/
    /* Mise en place de filtre pour les icônes */
        /*blanchissement*/
    .invert{
        filter: brightness(0) invert(1);
    }
    /* bouton Apply */
.Apply{
    position:relative;
    height: auto;
}
.Apply:before{
    content:"";
    position:absolute;
    top: 0;
    width: 100%;
    left: 100%;
    color: #121e59; 
    z-index: 1;
    opacity: 01;
}
    /*Hover boutton Apply*/
.Apply:hover{
    opacity: 1;
    background-color: #121e59;
}

/*hover sur*/
.sur:hover{
    text-decoration: underline;
}


/* P1 */
.p1{
    height: 55vh;
    background-image: url(Assets-20220310T082526Z-001/Assets/Images/group-1.jpg);
    background-size:cover;
    background-position: center;

}
    /* making textshadow */
.shadow{
    text-shadow:0 0 4px #1f1f1f;
}
    /* adjusting search bar */
.search{
    width: 80%;
    margin: 2vh;
    padding: 2vh;
    background-color: rgba(251,251, 251, 0.7);
}
.search span{
    justify-content: center;
}
#search-sm{
    position: relative;
    right: 15px;
}
.how{
    margin: 2vh;
    padding: 2vh;
    width:fit-content;
    background-color: rgba(251,251, 251, 0.7);
}

/* section p2 */
.w50{
    width: 50%;
}
    /* for mobile in index page */
.mobile{
    height: fit-content;
}
.mobile figure img{
    width: 100%;
    border-radius: 25px;
}
.mobile figcaption{
    position: absolute;
    bottom: 20px;
    margin-left: 2%;
    
}


/* Search page style */
.book button{
    height: 50%;
    margin-top: 2vh;
}
.book input{
    width: 80%;
    border-style: solid;
    border-width: 0.1px;
    border-radius: 5px;
}
.book p{
    text-align: start;
    margin-left: 10%;
}
.last{
    max-width: 100%;
}

.resultat img{
    width: 40vh;
    background-color: var(--bg-primary-color);

}
.resultat figcaption{
    position: absolute;
    top: 3px;
    left: 15%;
}
/* footer */
footer{
    background-color: var(--bg-gray-footer);
}
footer.btn{
    background-color: var(--bg-gray-footer-btn);
}
    /* HOver */

a.sur:hover{
    color: var(--bg-primary-color);
    text-decoration: underline;
}
.rso:hover{
    filter: invert(72%) sepia(30%) saturate(4409%) hue-rotate(179deg) brightness(87%) contrast(93%);
}

/* sunny section */
.sunny{
    box-shadow: 2px 2px 5px #333;
}
/* Responsive */
@media screen and (max-width:575.98px) {
    /* centralisation */
    .center{
        margin: auto;
        display: flex;
        justify-content: center;
        text-justify: center;

    }
    .mobile{
        display: block;
    }
    
}
