:root{
    --bg-primary-color:#d35649;
    --bg-primary-gray: #98a5a5;
    --bg-primary-blue: #509bd7;
    --bg-gray-footer: #1f1f1f;
    --bg-gray-footer-btn: #444;
    --bg-primary-purple: #575a89;
    --bg-light-gray: #eee;
    
}

.primary-color{
    color: var(--bg-primary-color);
}

.primary-gray{
    color:var(--bg-primary-gray);
}
.primary-blue{
    color:var(--bg-primary-blue)
}
.gray-footer{
    color:var(--bg-gray-footer)
}
.gray-footer-btn{
    color:var(--bg-gray-footer-btn)
}
.primary-purple{
    color:var(--bg-primary-purple)
}
.light-gray{
    color:var(--bg-light-gray)
}
.bg-light-gray{
    background-color: var(--bg-light-gray);
}
.bg-gray-footer-btn{
    background-color: var(--bg-gray-footer-btn);
}

p{
    margin:0;
}
/* header */
header{
    background-color: var(--bg-primary-color);
}
header div embed{
    width: 70px;
}
    /*hover header*/
.nav li ul li:hover{
    filter: invert(73%) sepia(6%) saturate(389%) hue-rotate(131deg) brightness(89%) contrast(85%);
}

/* Mise en place de filtre pour les icônes */
        /*blanchissement*/
    .invert{
        filter: brightness(0) invert(1);
    }



/* P1 */
.p1{
    background-image: url(Assets-20220310T082526Z-001/Assets/Images/group-1.jpg);
    background-size: cover;
}




/* footer */
footer{
    background-color: var(--bg-gray-footer);
}
footer.btn{
    background-color: var(--bg-gray-footer-btn);
}
    /* HOver */

a.sur:hover{
    color: var(--bg-primary-color);
    text-decoration: underline;
}
.rso:hover{
    filter: invert(72%) sepia(30%) saturate(4409%) hue-rotate(179deg) brightness(87%) contrast(93%);
}

/* sunny section */
.sunny{
    box-shadow: 2px 2px 5px #333;
}
/* Responsive */
@media screen and (max-width:575.98px) {
    /* centralisation */
    .center{
        margin: auto;
        display: flex;
        justify-content: center;
        text-justify: center;

    }
    .mobile{
        display: block;
    }
    
}
